:root {
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: 'Inter';

}

button {
  display: block;
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: var(--clr-rose);
  cursor: pointer;

}

strong {
  color: var(--clr-indigo);
}